
<div>
    <img src="/images/beer.png" alt="a-cup-of-beer" id="a-cup-of-beer">
    <a class="index" href="/beers">Check the Beers!</a>
    <a class="index" href="/random-beers">Check a Random Beer</a>
</div>