<div>
    <img src="/images/beer.png"/>
    <ul>
        <a href="/beers">
        <li >Check the Beers!</li>
        </a>
        <a href="/random-beers">
        <li >Check a Random Beer!</li>
        </a>
    </ul>

</div>